body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  padding: 20px;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}

.slider-pagination .slider-page {
  background: #000000;
}

.eql-cntrb { 
  font-size: smaller;
}

#path26801 {
  stroke-dasharray: 86.5;
  stroke-dashoffset: 86.5;
  animation: myCurveW 15s cubic-bezier(1, 0.01, 0.38, 1.02) infinite;
}

@keyframes myCurve {
  from {
    stroke-dashoffset: 86.5;
  }
  to {
    stroke-dashoffset: 0;
  }
}


@keyframes myCurveW {
	0%, 20% {
		stroke-dashoffset: 86.5;
	}

	40%, 100% {
		stroke-dashoffset: 0;
	}

}


#path26825 {
  stroke-dasharray: 239.3;
  stroke-dashoffset: 239.3;
  animation: myBMRW 15s cubic-bezier(0.91,-0.04, 0, 1.16) infinite;
}
@keyframes myBMR {
  from {
    stroke-dashoffset: 239.37;
  }
  to {
    stroke-dashoffset: 0;
  }
}


@keyframes myBMRW {
	0%, 30% {
		stroke-dashoffset: 239.37;
	}
	
	40%, 100% {
		stroke-dashoffset: 0;
	}
}


#path26829 {
  stroke-dasharray: 108.6;
  stroke-dashoffset: 108.6;
  animation: myBMCW 15s cubic-bezier(0.91,-0.04, 0, 1.16) infinite;
}
@keyframes myBMC {
  from {
    stroke-dashoffset: 108.6;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes myBMCW {
	0%, 35% {
		stroke-dashoffset: 108.6;
	}
	
	40%, 100% {
		stroke-dashoffset: 0;
	}
}

#g7360{
  visibility: hidden;
  animation: myBMCWV 15s cubic-bezier(0.91,-0.04, 0, 1.16) infinite;
}

@keyframes myBMCWV {
	0%, 35% {
		visibility: hidden;
	}
	
	70%, 100% {
		visibility: visible;
	}
}


/* myCurveLower */
#path26811 {
  display:none;
}

#g28329 {
  display:none;
}
	 
/* myCurveLower */
#path26813 {
  display:none;
}

#path26833{
 display:none;
}

#path26837{
 display:none;
}

#path26815 {
  stroke-dasharray: 189.9;
  stroke-dashoffset: 189.9;
  animation: myConfBandW 15s cubic-bezier(0.91,-0.04, 0, 1.16) infinite;
}
@keyframes myConfBand {
  from {
    fill-opacity: 0;
  }
  to {
    fill-opacity: 0.10199998;
  }
}

@keyframes myConfBandW {
	0%, 40% {
		fill-opacity: 0;
	}
	
	70%, 100% {
		fill-opacity: 0.10199998;
	}
}



